<div class="container">
  <div
    class="card mx-4 mx-md-5 shadow-5-strong mb-5 mt-5"
    style="
      background: hsla(0, 0%, 100%, 0.8);

      backdrop-filter: blur(30px);
    "
  >
    <div class="card-body py-5 px-md-5">
      <div class="row d-flex justify-content-center">
        <div class="col-10">
          <div class="text-center">
            <h3>Phone-Book</h3>
            <div class="text-start">
              <p>
                The following application is createdto practise the basic crud
                operations like insertion delition and updating data
              </p>
            </div>
            <div class="text-start">
              Technology used to build this application

              <ul>
                <li>Angular</li>

                <li>HTML</li>

                <li>Bootstrap</li>

                <li>Typescript</li>

                <li>CSS</li>
              </ul>
            </div>

            <div class="text-start">
              Steps used and challenges faced to build this application:-

              <ol>
                <li>
                  The first step was getting the inputs from the user it was do
                  by string interpolation and that string was pased to a
                  variable
                </li>

                <li>
                  After getting th string we need to validate it using form
                  methods
                </li>

                <li>
                  Used <span class="fw-bold">Template Driven</span> form
                  validation for the email validation.
                </li>

                <li>
                  then for inserting thedata is being pushed into an array
                </li>

                <li>
                  for delition the array is filtered and the data to be deleted
                  is removes
                </li>

                <li>
                  finally fo editing , when the button is clicked the data
                  should be populated in the feilds using two-way binding abd
                  the edited data is mapped to the array
                </li>
              </ol>

              <div class="text-start">
                Click the below button to visit site!
              </div>
            </div>

            <br />

            <i class="btn btn-primary bi bi-arrow-right" routerLink="/login">
              Continue</i
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
